@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.carousel-amenities {
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: 6px -6px 7px white; 
}

.img-amenities-1 {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.ant-carousel .slick-dots li button {
  font-size: 30px;
}

.amenitiesDetails-p {
  font-family: "Pluto Regular";
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  word-spacing: 3px;
  margin: 2rem auto;
  color: white;
}
.container-detailsAmenities h2 {
  color: white;
  margin: 1.5rem 0;
}

.container-detailsAmenities {
  box-sizing: border-box;
  background: rgb(255,139,89);
  background: linear-gradient(90deg, rgba(255,139,89,1) 0%, rgba(155,84,53,1) 6%, rgba(43,23,14,1) 17%, rgba(59,32,17,1) 82%, rgba(187,105,44,1) 100%);
  font-family: "Playfair Display", serif;
  margin: 0;
}

@media screen and (max-width: 319px) {
  .carousel-amenities {
      width: 100%;
  }
  .amenitiesDetails-p {
      font-size: 16px;
      line-height: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .carousel-amenities {
      width: 90%;
  }
  .amenitiesDetails-p {
      font-size: 18px;
      line-height: 24px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .carousel-amenities {
      width: 80%;
  }
  .amenitiesDetails-p {
      font-size: 18px;
      line-height: 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .carousel-amenities {
      width: 70%;
  }
  .amenitiesDetails-p {
      font-size: 19px;
      line-height: 26px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .carousel-amenities {
      width: 65%;
  }
  .amenitiesDetails-p {
      font-size: 20px;
      line-height: 27px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .carousel-amenities {
      width: 75%;
  }
  .amenitiesDetails-p {
      font-size: 22px;
      line-height: 30px;
  }
}
