.card-image{
    height: 250px !important;
    
}

  .card-image-container {
    max-width: 800px;
  }
  
  .icon-favorit{
    position: absolute;
    top: 1%;
    right: 2%;
  }

  .container__card{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 576px) {
    .card-image-container {
      max-width: 100%; 
    }
  }
  
  @media (min-width: 576px) {
    .w-50 {
      width: 50%; 
    }
  }
  
  @media (min-width: 768px) {
    .w-50 {
      width: 50%; 
    }
  }
  
  @media (min-width: 992px) {
    .w-50 {
      width: 33.33%; 
    }
  }
  