@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.container-home {
  background: radial-gradient(circle, rgba(33, 25, 20, 1) 11%, rgba(126, 62, 34, 1) 45%, rgba(238, 212, 165, 1) 94%);
  color: white;
  font-family: "Playfair Display", serif;
}

.banner-home {
  background-image: url("../../assets/images/banner11.jpg");
  background-size: cover;
  background-position: center;
  height: clamp(500px, 70dvh , 1200px) !important;
  position: relative;
  filter: brightness(35%);
}

.tittle-home,
.subtittle-home {
  position: absolute;
  animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tittle-home {
  font-size: clamp(.5rem, 7dvw , 9rem) !important;
  top: 30% !important;
  left: 10% !important;
}

.subtittle-home {
  top: 50%!important;
  left: 10% !important;
  font-weight: bolder;
  font-size: clamp(.2rem, 4dvw, 2.8rem) !important;
}

.button-home {
  position: absolute;
  bottom: 70%;
  right: 15%;
}

.banner-2-home {
  position: relative;
  height: 300px;
  background-image: url("../../assets/images/banne2.jpg");
  background-size: cover;
  background-position: center;
}

.banner-2-home p {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  .banner-home {
    height: 60dvh!important;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}