.container__contacto {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
  }