.card-container-amenities {
    width:30%;
    margin:0;
    border-radius: 10px;
    border: solid;
  }
  
  .title-amenities {
    margin: 0;
  }
  
  .description-amenities {
    margin:0;
  }

  .img-amenities{
    width: 70px !important;
  }
  
  .amenities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    .card-container-amenities {
      width: 45%;
      margin: 2.5%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card-container-amenities {
      width: 90%;
      margin: 5%;
    }
  }
  
  @media screen and (max-width: 320px) {
    .amenities-container {
      flex-direction: column;
      align-items: center;
    }
    .card-container-amenities {
      width: 100%;
      margin: 0;
    }
  }
  