@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.mainContainer{
  flex-grow: 1;
}

.logo{
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.btn__submit{
  width: 150px;
}

.input{
  max-width: 500px;
  border-radius: 4px;
}
.danger {
  max-width: 500px;
  border-radius: 4px;
  border: red solid 2px;
}

.danger__error{
  max-width: 500px;
  color: red;
}

.backgound__color--footer{
  background-color: #402D16;
}

.backgound__color--error{
  background-color: #A0A603;
}

.backgound__color--nav{
  background: rgb(33,25,20);
  background: radial-gradient(circle, rgba(33,25,20,1) 11%, rgba(126,62,34,1) 45%, rgba(238,212,165,1) 94%);
    
}

.button__color{
  background-color: #F2CB05;
  font-weight: 700;
}